@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-orange: #FF914D;
  --primary-orange-dark: #e8772d;
  --secondary-green: #007854;
  --secondary-green-dark: #005a3f;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
